.firstcontainer {
    border: 1px solid blue;
    display: flex;
    margin: 20px auto;
    justify-content: center;
    width: 650px;
    padding: 10px;
}

.blue {
    background-color: blue;
    height: 50px;
    width: 50px;
    margin: 10px;
}

.secondcontainer {
    border: 1px solid blue;
    display: flex;
    margin: 20px auto;
    background-color: coral;
    justify-content: center;
    width: 650px;
    padding: 10px;
}

.purple {
    background-color: purple;
    height: 50px;
    width: 50px;
    margin: 10px;
}