header {
  position: relative;
}

.container {
  color: #222;
  font-family: "Abril Fatface", cursive;
  display: flex;
  justify-content: center;
}

.intro {
  position: absolute;
  bottom: 0;
}
img {
  max-width: 100%;
}

h3.header {
  font-size: 40px;
  font-size: 3vw;
  margin: 0;
}

h1 {
  font-size: 70px;
  font-size: 5vw;
  margin-top: 0;
  margin-bottom: 20px;
}

div.szoveg {
  max-width: 750px;
  margin: 50px auto;
  font-family: "Josefin Sans", sans-serif;
  color: #222;
}

p {
  line-height: 150%;
}

.personal {
  border-top: 3px solid black;
}

li {
  list-style-type: square;
  line-height: 150%;
}

blockquote {
  font-family: "Abril Fatface", cursive;
  font-size: 50px;
  padding: 50px 10px 50px 50px;
  color: white;
  background-color: #222;
  max-width: 800px;
  margin: 0 auto;
  position: relative;

}

blockquote::before {
  content: '\201C';
  color: white;
  font-size: 3em;
  position: absolute;
  top: -40px;
  left: -0px;

}


h2 {
  text-transform: uppercase;
  margin: 50px 0;
}

h4 {
  font-family: "Merriweather", serif;
  font-size: 15px;
  margin: 0;
}

h3.simple {
  line-height: 200%;
  font-size: 23px;
}

h3.list {
  font-size: 23px;
  margin-bottom: 0;
}
